{% extends "__layout.twig" %}

{% block content %}
{% import "button_layout.twig" as forms %}
<div class="col-8">
  <h1>{{title}}</h1>
    <ul class="nav nav-pills">
      <li class="nav-item">
        {{ forms.input('Картинка', imgActive, "button", img_content) }}
      </li>
      <li class="nav-item">
        {{ forms.input('Описание', infoActive, "button",info_content) }}
      </li>
    </ul>
    </div>
<ul class = "list-group">
  {% block objectContent %}
    
    {% endblock %}
</ul>
{% endblock %}