{% extends "__layout.twig" %}

{% block content %}
<div class="col-8">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a type = "button" class = "btn btn-primary m-1" href="{{ img_content }}">Картинка</a>
      </li>
      <li class="nav-item">
        <a type = "button" class = "btn btn-primary m-1" href=" {{ info_content }} ">Описание</a>
      </li>
    </ul>
    </div>
<ul class = "list-group">
  {% block objectContent %}
    
    {% endblock %}
</ul>
{% endblock %}