{% extends "__layout.twig" %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <a type="button" class="btn btn-primary" href="/nami" >Нами</a>
        <a type="button" class="btn btn-link" href="/nami/image">Картинка</a>
        <a type="button" class="btn btn-link" href="/nami/info">Описание</a>
    </li>
    <li class="list-group-item">
        <a type="button" class="btn btn-primary" href="/robin">Робин</a>
        <a type="button" class="btn btn-link" href="/robin/image">Картинка</a>
        <a type="button" class="btn btn-link" href="/robin/info">Описание</a>
    </li>
</ul>
{% endblock %}