{% extends "__object.twig" %} 

{% block objectContent %}
  <div style="border: 1px solid silver; margin: 8px; box-shadow: 0 0 16px silver; border-radius: 16px;">
    <li class="list-group-item">
      <p>
        Нами — пират и навигатор в команде пиратов Соломенной Шляпы. Она официально стала третьим членом экипажа и вторым присоединившимся к команде после победы Луффи над Арлонгом. Во время арки Барати она временно покидает команду, но возвращается в конце арки Арлонг Парка, после того как было раскрыто её прошлое и истинные намерения. Её текущая награда 66 000 000 белли.
      </p>
      <p>
        Нами — молодая, стройная девушка среднего роста с рыжими волосами и светло-карими глазами. Многие люди считают её очень привлекательной или даже красавицей. На её левом плече находится синяя татуировка, представляющая собой стилизованные вертушку и мандарин, которая была сделана ей вместо метки, означающей её принадлежность к пиратам Арлонга.
      </p>
    </li>
  </div>
{% endblock %}