{% extends "__object.twig" %} 

{% block objectContent %}
  <div style="border: 1px solid silver; margin: 8px; box-shadow: 0 0 16px silver; border-radius: 16px;">
    <li class="list-group-item">
      <p>
        Нико Робин — пират и археолог в команде Соломенной Шляпы. Впервые появилась как вице-президент Барок Воркс под псевдонимом Мисс Олл Сандей. Она седьмой член команды, шестой, кто присоединился к Луффи, и второй, после Нами, вернувшийся в команду после ухода из неё, а также первый член, когда-то бывший антагонистом.
        Она съела Дьявольский плод Хана Хана. Её мечта — найти Рио Понеглиф, в котором содержится истинная история. Текущая награда — 130 000 000 белли.
      </p>
      <p>
        Нико Робин — высокая, стройная женщина со спортивным телосложением и тёмными длинными волосами. В манге, она имеет карие глаза с тёмными широкими зрачками и длинный, тонкий, изящный нос. Её тон кожи в аниме немного темнее в отличие от цветных картинок в манге. Она очень похожа на свою мать, за исключением цвета волос и стиля одежды. У неё очень длинные руки и ноги, что хорошо сочетается с её боевыми способностями, высокий рост, а также, как и у большинства женских персонажей, узкая талия. Многие люди считают её очень привлекательной или красивой, и она, вместе с Нами, является постоянным объектом ухаживания Санджи.
      </p>
    </li>
  </div>
{% endblock %}