{% extends "__layout.twig" %}

{% block content %}
    <h1>Поиск</h1>

    <form action="">
        <div class="row g-3">
            <div class="col">
            <select style = "height: 70%;" name="type" class="form-select form-select-lg mb-3">
                <option value="Все">Все</option>
                <option value="Антагонист">Антагонист</option>
                <option value="Протагонист">Протагонист</option>
            </select>
            </div>
    
            <div class="col">
                <input style = "height: 70%;" type="text" class="form-control" name="title" placeholder="Название">
            </div>
            <div class="col">
                <input style = "height: 70%;" type="text" class="form-control" name="info" placeholder="Описание">
            </div>
            <div class="col">
                <button style = "height: 70%; width: 100%" class = "btn btn-primary" type="submit">Найти</button>
            </div>
        </div>
    </form>

    <div class="col-8 mt-4">
        <ul class="list-group">
            {% for object in lady_objects %}
            <li class="list-group-item">
                <a class = "btn btn-link" href="/">{{object.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}